.DS_Store
.vscode/settings.json
.vscode/settings.json
smart-storage-unit/mprocs.log
smart-turret/mprocs.log
smart-gate/mprocs.log
smart-gate/packages/contracts/.env
smart-gate/packages/contracts/.env
smart-gate/packages/contracts/.env
smart-turret/packages/contracts/.env
smart-turret/packages/contracts/.env
