@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@eveworld/ui-components/styles";

@keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.item-image, .item-name-container{
    opacity: 0%;
    
    animation:appear 2s forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-play-state: running;
}

.item-image{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    animation-delay: 2s;
}

.item-name-container{
    position: relative;
    animation-delay: 3s;
}

.item-name-container h1{
    position:absolute;
    top: 50%;    
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
}

@keyframes colorchange{
    0%{
        fill: hsla(26, 85%, 58%, 1);
        padding-left: 0px;
    }
    50%{
        fill: red;
        padding-left: 20px;
    }
    100%{
        fill: hsla(26, 85%, 58%, 1);
        padding-left: 0px;
    }
}

.item-arrow-2, .item-arrow-1{
    animation: colorchange 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 2s;
    fill: hsla(26, 85%, 58%, 1);
}

.item-arrow-1{
    animation-delay: 0s;
}

.Eve-Numerical-Input-input div input{
    padding-left: 20px!important;
}

#edit-RatioIn{
    padding-right: 20px!important;
}

input[type='range']{
    accent-color:hsla(26, 85%, 58%, 1);
}

.item-grid{    
    padding: 5px;
    padding-left: 10px;
}